@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
}

:root {
    --body-gradient: radial-gradient(
        circle at 0% -10%,
        #0e304b,
        #051b2c,
        #010d16
    );
}

html {
    scroll-behavior: smooth;
}

.bounce {
    animation: Bounce 0.3s ease-in forwards;
    transform-origin: top center;
}

.bg-app-radial {
    background-image: var(--body-gradient);
}

#hero-links li span {
    transition: all 0.3s ease;
}

#hero-links li:hover span {
    width: 50px;
    transition: all 0.3s ease;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px) rotateY(-10deg);
    }
    50% {
        transform: translateY(-10px) rotateY(-10deg);
    }
}

@keyframes Bounce {
    0% {
        transform: scaleY(0);
    }
    40% {
        transform: scaleY(0.8);
    }
    65% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scale(1);
    }
}
